@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align: center;">
    <h1 style="text-decoration: underline;">Welcome to my Data Science Project Collection</h1>
    <p class="lead">This is a collection of some of my Data Science projects throughout all of this 2018 year.</p>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 index-btn">
            <a class="btn btn-info" asp-controller="Projects" asp-action="StockTicker"><i class="fas fa-chart-line"></i> Stock Ticker</a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 index-btn">
            <a class="btn btn-info" asp-controller="Projects" asp-action="Sentiment_Analizer"><i class="fas fa-theater-masks"></i> Sentiment Analizer</a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 index-btn">
            <a class="btn btn-info" asp-controller="Projects" asp-action="Cat_Dog"><i class="fas fa-paw"></i> Predict Cat or Dog</a>
        </div>
    </div>
</div>
